*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: rgb(183, 206, 226);
}
header{
    background-color: rgb(212, 89, 18);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
}
header h1{
    align-self: center;
}
.navbar{
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
    
}

.navbar li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px;
}
.navbar li a:hover{
    background-color: rgb(255, 138, 5);
}
footer{
    background-color: rgb(212, 89, 18);
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
}
.footerBtn{
    width: 50%;
    display: flex;
}
.pSite{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerNav{
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
}

.footerNav li a{
    text-decoration: none;
    display: flex;
    color: black;
    padding: 20px;
    background-color: rgb(212, 89, 18);
    justify-content: center;
}
.footerNav li a:hover{
    background-color: rgb(255, 138, 5);
}
#container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#devs h1{
    width: 100%;
}
.dev-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.dev-card{

    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10%;
    gap: 15px;
    box-shadow: 10px 10px 30px black;
}
.dev-card:hover{
    scale: 1.05;
    transition: 0.3s;
}
.dev-card img{
    width: 220px;
    height: 175px ;
    border-radius: 50px;
}