*{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
body{
    background: rgb(21,67,138);
}
header{
    background-color:rgba(37, 111, 223, 0);
    display: flex;
    justify-content: space-between;
    min-height: 60px;
}
header h1{
    align-self: center;
}
.navbar{
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
    
}
.navbar li a{
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px;
}
.navbar li a:hover{
    background-color: rgb(255, 138, 5);
}
footer{
    background-color: rgba(3, 37, 87, 0);
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
    color: white;
}
.footerBtns{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerNav{
    list-style-type: none;
    width: 100%;
    padding-inline-start: 0px;
}

.footerNav li a{
    text-decoration: none;
    display: flex;
    color: black;
    padding: 20px;
    background-color:rgba(3, 37, 87, 0);
    justify-content: center;
    color: white;
}
.footerNav li a:hover{
    background-color: rgb(255, 138, 5);
}
.footerEmail{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerEmail input[type = email]{
    width: 60%;
    height: 10%;
    border-radius: 20px;
    scale: 0.95;
}
.footerEmail input[type= email]:hover{
    scale: 1;
    transition: 0.3s;
}
.footerEmail input[type = submit]{
    width: 20%;
    height: 10%;
    border-radius: 20px;
    scale: 0.95;
    color: black;
}
.footerEmail input[type= submit]:hover{
    scale: 1.05;
    color: goldenrod;
    transition: 0.3s;
}
.lander-container{
    background: rgba(21,67,138,1);
    background: linear-gradient(180deg,rgba(23,23,23,1) 0%, rgba(21,67,138,1) 20%, rgba(23,23,23,1) 88%, rgba(21,67,138,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    gap: 20px;
    height:max-content;
    font-size: 1.5rem;
    min-height: 70vh;
}
.lander-container h2{
    margin-bottom: 15px;
    font-size: 2rem;
}
#lander-btns{
    display: flex;
    gap: 5px;
    height: 3rem;
}
.lander-btn{
    width: 6rem ;
    height: 3rem;
    border-radius: 15px;
    cursor: pointer;
    color: black;
}
#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
#devH1{
    font-size: 2.5rem;
}
.dev-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.dev-card{

    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10%;
    gap: 15px;
    box-shadow: 10px 10px 30px black;
}
.dev-card:hover{
    scale: 1.05;
    transition: 0.3s;
}
.dev-card img{
    width: 65%;
    height: 40% ;
    border-radius: 50%;
}
.pc-container{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    margin-bottom: 50px;
}
.pc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 20%;
    border: 2px solid black;
    padding: 15px 25px;
    border-radius: 20px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.425);
    scale: 0.95;
}
.pc:hover{
    scale: 1;
    transition: 0.3s;
}
#checkout-btn{
    color: black;
    width: fit-content;
    padding: 12px 18px;
    border-radius: 15px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.card-container{
    margin: 40px 10px;
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#pc-description{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}